
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 258 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 258 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 258 84% 4.9%;

    --primary: 258 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 285 40% 96.1%;
    --secondary-foreground: 258 47.4% 11.2%;

    --muted: 285 40% 96.1%;
    --muted-foreground: 270 16.3% 46.9%;

    --accent: 285 40% 96.1%;
    --accent-foreground: 258 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 285 31.8% 91.4%;
    --input: 285 31.8% 91.4%;
    --ring: 258 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 285 10% 98%;

    --sidebar-foreground: 258 5.3% 26.1%;

    --sidebar-primary: 258 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 285 4.8% 95.9%;

    --sidebar-accent-foreground: 258 5.9% 10%;

    --sidebar-border: 285 13% 91%;

    --sidebar-ring: 258 91.2% 59.8%;
  }

  .dark {
    --background: 258 84% 4.9%;
    --foreground: 285 40% 98%;

    --card: 258 84% 4.9%;
    --card-foreground: 285 40% 98%;

    --popover: 258 84% 4.9%;
    --popover-foreground: 285 40% 98%;

    --primary: 285 40% 98%;
    --primary-foreground: 258 47.4% 11.2%;

    --secondary: 285 32.6% 17.5%;
    --secondary-foreground: 285 40% 98%;

    --muted: 285 32.6% 17.5%;
    --muted-foreground: 285 20.2% 65.1%;

    --accent: 285 32.6% 17.5%;
    --accent-foreground: 285 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 285 40% 98%;

    --border: 285 32.6% 17.5%;
    --input: 285 32.6% 17.5%;
    --ring: 285 26.8% 83.9%;
    --sidebar-background: 258 5.9% 10%;
    --sidebar-foreground: 285 4.8% 95.9%;
    --sidebar-primary: 285 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 258 3.7% 15.9%;
    --sidebar-accent-foreground: 285 4.8% 95.9%;
    --sidebar-border: 258 3.7% 15.9%;
    --sidebar-ring: 285 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
